@model IEnumerable<User>

<!DOCTYPE html>
<html>
<head>
<title>Kullanıcı Listesi</title>
<link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
<link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<!--theme-style-->
<link href="~/css/mystyles.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script src="~/js/jquery.min.js"></script>
<!--script-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        });
    </script>
</head>
<body>
	@await Html.PartialAsync("_header")  
	<div class="container">
        @if(TempData["message"]!=null)
        {
            <partial name="_ResultMessage" model="@(TempData.Get<AlertMessage>("message"))"/>
        }
        <div class="row">
            <div class="col-md-12">
                <h1 class="h3">Kullanıcı Listesi</h1>
                <hr>
                <table data-page-length='3' id="myTable" class="table table-bordered mt-3">
                    <thead>
                        <tr>
                            <td>Ad</td>
                            <td>Soyad</td>
                            <td>Kullanıcı Adı</td>
                            <td>Email</td>
                            <td>Email Onayı</td>
                            <td style="width: 160px;"></td>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.Count()>0)
                        {
                            @foreach (var item in Model)
                                {
                                    <tr class="@(item.EmailConfirmed?"":"bg-warning")">
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>                              
                                        <td>@item.UserName</td>                              
                                        <td>@item.Email</td>                              
                                        <td>@item.EmailConfirmed</td>                              
                                        <td>
                                            <a href="/admin/user/@item.Id" class="btn btn-primary btn-sm mr-2">Güncelle</a>
                                            
                                            <form action="/admin/DeleteUser" method="POST" style="display: inline;">
                                                <input type="hidden" name="UserId" value="@item.Id">
                                                <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                                            </form>
                                        </td>
                                </tr>
                                }
                        }else{
                            <div class="alert alert-warning">
                                <h3>No Users</h3>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
	</div>
	<!---->
</body>
</html>